.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.sidebar > button,
.sidebar > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  height: 3rem;
  border-radius: 2rem 0 2rem 0;
  font-size: 1.25rem;
  color: gold;
  background-color: purple;
}

.sidebar > div {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}

.pokemon-input {
  outline: none;
  border: none;
  padding: 0.25rem 0.25rem 0.25rem 1.25rem;
  font-size: 1.25rem;
  border-radius: 2rem 0 2rem 0;
}

.reveal {
  border: 1px solid red !important;
}

@media (max-width: 750px) {
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    margin: 1rem 0rem;
  }

  .sidebar > * {
    flex: 1 1 auto;
  }

  .sidebar > button,
  .sidebar > div {
    margin: 0;
  }

  .sidebar > button {
    padding: 0rem 2rem;
  }
}
