.form-wrapper {
  background-image: url("../../assets/poke.png");
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
}

.form-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.region-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 0.75rem;
  margin: 1rem 2rem;
}

.region-selection > div {
  background-color: lightblue;
  border: 2px solid darkblue;
  border-radius: 1rem 0rem 1rem 0rem;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  pointer-events: none;
}

input[type="checkbox"]:checked {
  background-color: red;
}

label {
  pointer-events: none;
}

form > input {
  width: 30%;
  align-self: center;
  margin-bottom: 1rem;
  height: 3rem;
  cursor: pointer;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.75rem 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
